<header class="jumbotron jumbotron-fluid vh-100">
    <div class="container">
        <h1 class="display-4 mt-auto">New York Times Scraper</h1>
        <h3 class="mb-auto">Using MongoDB!</h3>
    </div>
</header>
<main class="container">
    {{#each article}}
        {{!-- {{#unless article.saved}} --}}
            {{> articles/not-saved}}
        {{!-- {{/unless}} --}}
    {{/each}}
</main>