<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{artlce.title}}</h3>
    </div>
    <div class="card-body">
        <a href="{{article.link}}"></a>{{article.subheading}}</a>
        <br>
        <button type="button" class="btn btn-secondary">Add to Favorites!</button>
    </div>
</div>